:where(*) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background: #fff;
  color: #222;
  text-transform: lowercase;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
